{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <section class="paginakop container">
        <h1 class="paginakop__titel">{{ page.title }}</h1>
        {% if page.intro %}
            <div class="paginakop__intro richtext">{{ page.intro|richtext }}</div>
        {% endif %}
    </section>

    {% if diensten %}
        <section class="diensten-overzicht container">
            <ul class="diensten-raster diensten-raster--groot">
                {% for dienst in diensten %}
                    <li class="dienst-kaart">
                        {% if dienst.uitgelichte_afbeelding %}
                            {% image dienst.uitgelichte_afbeelding fill-800x500 as dienst_img %}
                            <a href="{{ dienst.url }}" class="dienst-kaart__afbeelding-link" tabindex="-1" aria-hidden="true">
                                <img src="{{ dienst_img.url }}" alt="{{ dienst.title }}" class="dienst-kaart__afbeelding" loading="lazy">
                            </a>
                        {% endif %}
                        <div class="dienst-kaart__inhoud">
                            <h2 class="dienst-kaart__titel">
                                <a href="{{ dienst.url }}" class="dienst-kaart__link">{{ dienst.title }}</a>
                            </h2>
                            <p class="dienst-kaart__beschrijving">{{ dienst.korte_beschrijving }}</p>
                            <a href="{{ dienst.url }}" class="knop knop--secundair">Meer informatie</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    {% for blok in page.body %}
        {% include_block blok %}
    {% endfor %}
{% endblock %}
